.idea
.gradle
bin
build


*.com
*.class
*.dll
*.exe
*.o
*.so

2022-field.png
simgui-ds.json
simgui-window.json
simgui.json
2022-rapidreact.json



*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db